body {
    padding-top: 56px;
  }
  .section {
    padding: 60px 0;
  }
  .footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
  }
  .brand-name {
    font-size: 30px;
  }
  .vertical-line {
    border-left: 3px solid beige;
    height: 135px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-custom {
  background-color: rgb(82, 100, 159);
  color: beige;
}