body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container-eventdetails {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-width: 90%;
    width: 100%;
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;
}

.left-half, .right-half {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.event-name {
    font-size: 2em; 
    color: #333;
    margin-bottom: 20px;
    text-align: center; 
}

.event-details {
    margin-bottom: 20px;
    text-align: center; 
}

.event-details p {
    margin: 5px 20px; 
    color: #555;
    font-size: 1em;
}

.signup-button button {
    background-color: #4EA1D3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-button button:hover {
    background-color: #0056b3;
}

.event-image img {
    width: 100%; 
    max-width: 300px; 
    height: auto;
    object-fit: cover;
}

.event-details i {
    color: #4EA1D3;
    margin-right: 8px;  
}


@media (min-width: 768px) {
    .container-eventdetails {
        flex-direction: row; 
        max-width: 800px;
    }

    .event-details p {
        margin: 5px 40px; 
        font-size: 1.1em;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
