body {
  background-image: url('goldbackground1.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
  padding-top: 120px; 
}

/* Navbar Styles */
.navbar {
  background-color: #FBFAF5;
  padding: 20px 10px; /* Increased padding to make the navbar thicker */
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.navbar-brand .text {
  display: flex;
  flex-direction: column;
}

.navbar-brand .text span {
  font-size: 1.5rem; /* Increased font size */
  font-weight: bold;
  color: #4EA1D3; /* Blue color from the palette */
}

.navbar-brand .text small {
  font-size: 1rem; /* Increased font size */
  color: #666;
}

.navbar-nav .nav-item {
  margin-left: 10px;
}

.navbar-nav .nav-link {
  font-size: 1.2rem; /* Increased font size */
  color: #333;
}

.navbar-nav .nav-link:hover {
  color: #0056b3;
}

/* Footer Styles */
.footer {
  background-color: #FBFAF5;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}

footer {
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .social-media {
  margin-bottom: 10px;
}

footer .social-media a {
  color: black;
  margin: 0 10px;
  font-size: 1.5em;
  transition: color 0.3s;
}

footer .social-media a:hover {
  color: #F8C8C6;
}

footer p {
  margin: 0;
  font-size: 0.9em;
}

/* Section Styles */
.section {
  padding: 40px;
  border-radius: 0;
  margin-bottom: 20px;
}

.section img {
  max-width: 100%;
  border-radius: 0;
}

.carousel-inner {
  background-color: #FFF2B3;
}

.carousel-inner img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.half-section {
  height: 50vh;
}

.full-width-section {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.bg-color-1 { background-color: #FFD0D1; }
.bg-color-2 { background-color: #FFD8B9; }
.bg-color-3 { background-color: #FFF2B3; }
.bg-color-4 { background-color: #F5D9FE; }
.bg-color-5 { background-color: #D9F3FE ; }

.bio-section img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.program-box {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.program-box img {
  width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

.program-box h3 {
  margin-top: 0;
}

.program-box p {
  margin-bottom: 10px;
}

.bg-blue { background-color: #FFD0D1; }
.bg-red { background-color: #FFD8B9; }
.bg-green { background-color: #D9F3FE ; }

.black-link a {
  color: black;
  text-decoration: none;
}

.black-link a:hover {
  text-decoration: underline;
}
