body {
    padding-top: 56px; /* Padding for fixed navbar */
  }
.section {
    padding: 60px 0;
  }
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
  }
.brand-name {
  color: green;
}